header {
    background-image: url("https://prod-foundation-forum.s3.amazonaws.com/uploads/part/part_image/3612/lumber.jpg");
}

body {
    background-image: url("images/paper.png");
}

.name {
    color: darkorchid
}

#pageName {
    color: blue
}

header {
    color: white;
}

header a:link {
    text-decoration: none;
}

#list {
    list-style-type: none
}

img {
    max-width: 100%;
    max-height: 100%;
}

td,
th {
    border-bottom: 1px solid black;
    text-align: left;
    padding: 8px;
}
